/* datas */
@font-face {
    font-family: 'PlusJakartaSans';
    src: url('assets/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

/* general */

body{
    background-color: #0d121f;
    font-family: 'PlusJakartaSans' ;
}

h1{
    color: white;
    /* font-size: 4em; */
}
main h1{
    font-size: 2.4em;
    margin: 0.3em;
}

header{
    display: flex;
    margin: 1em;
}
nav{
    display: flex;
    gap: 2em;
    font-size: 0.5em;
}

section{
    padding: 5em 0;
    text-align: center;
}

small{
    color: #71819a;
    font-size: 1em;
}

/* general classes */

.second-button{
    background-color: #1a202c;
    color: #a4b3c6;
}


.h2-title{
    margin: 0;
    color:#4e8cdd;
    font-size: 1em;
}


/* navbar */

.main-navbar{
    margin: auto;
}

header h1:hover{
    text-decoration: underline;
}

.header-nav-button-group h1{
    margin: auto;
    text-align: center;
}

button{
    background-color: #3d81db;
    border-radius: 3em;
    padding: 0.2em;
    padding: 1em 1.5em;
    margin: auto;
    color: white;
    border: none;
    
}

/* hero section */

.hero-section{
    background: radial-gradient(circle at top center, #1e232f, #0d121f 70%);
    padding-top: 3em;
}


#main-title{
    text-align: center;
    font-size: 4em;
}

#hero-gradient-title{
    background: linear-gradient(to top, #a8bfdd, white);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#hero-title-second{
    color: #a8bfdd;
}

#hero-description{
    color: white;
    margin: auto;
    text-align: center;
}

.hero-button-group{
    margin: 2em 0 0 0;
    display: block;
    text-align: center;
}


/* about section  */

#about-section{
    background-image: url(assets/assets/images/laundromat-with-girl-legs.png);
    background-color: white;
    width: 100%;
    margin-top: 4em;
}

.about-title{
    text-align: center;
    padding: 2em;
    display: block;
    
}

#about-section h1{
    color: black;
    margin: 0;
}


#about-section p{
    text-align: center;
    margin: auto;
    max-width: 50em;
}


/* how it works section  */
.how-card{
    width: 10em;
    margin: 0 4em;
    color: white;
    font-size: 0.8em;
}
.how-card figure{
    width: 10em;
}

.how-card span{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: #3d81db;
    border-radius: 100%;
    width: 3em;
    height: 3em;
    text-align: center;

    float: left;
}

.how-card div{
    background-color: white;
    border-radius: 20%;
    height: 10em;
}


#how-card-section{
    display: flex;
    
    margin: auto;
    text-align: center;
    justify-content: center;
}
