/* datas */
@font-face {
    font-family: 'PlusJakartaSans';
    src: url('assets/assets/fonts/PlusJakartaSans-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

:root{
    --button-color:#3d81db;
    --background-color:#0d121f;
}

/* animations */

@keyframes heroFadeIn{
    0%{
        opacity: 0;
        transform: translateY(-0.7rem);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


/* general */

html{
    scroll-behavior: smooth;
    zoom: 1.3; /* It's needed because of chrome */
}

body{
    background-color: var(--background-color);
    font-family: 'PlusJakartaSans';  
}

h1{
    color: white;
    /* font-size: 4em; */
}
main h1{
    /* font-size: 2.4em; */
    font-size: 1.7em;
    margin: 0.3em;
}

header{
    display: flex;
    margin: 1em;
}
nav{
    display: flex;
    gap: 2em;
    font-size: 0.5em;
}

section{
    padding: 5em 0;
    text-align: center;
}

small{
    color: #71819a;
    /* font-size: 1em; */
    font-size: 0.9em;
}

p{
    max-width: 42rem;
    text-align: center;
    margin: auto;
}

button{
    background-color: var(--button-color);
    border-radius: 3em;
    padding: 0.2em;
    padding: 1em 1.5em;
    margin: auto;
    color: white;
    border: none;
    transition: 0.3s;

}

button:hover{
    filter: brightness(0.8);
}

a{
    color: unset;
    text-decoration: unset;
}

@media (min-width:1000px) {
    main h1{
        font-size: 2.4em;
    }
    small{
        font-size: 1em;
    }
}

/* general classes */

.second-button{
    background-color: #1a202c;
    color: #a4b3c6;
}

.button-group{
    display: inline-flex;
    gap: 1.5rem;
    justify-content: center;
}

.h2-title{
    margin: 0;
    color:#4e8cdd;
    font-size: 1em;
}

.circle{
    position: absolute;
    height: 40em;
    width: 40em;
    border: #191e2a solid 6rem;
    border-radius: 100%;
}




/* navbar */

header{
    padding: 0.7rem 8%;
}

.main-navbar{
    margin: auto;
    display: flex;
    gap: 3rem;
}

header h1{
    font-weight: unset;
    position: relative;
}

header h1::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.5s;
}

header h1:hover::after{
    width: 100%;
}



.header-nav-button-group h1{
    margin: auto;
    text-align: center;
}




/* hero section */

.hero-section{
    background: radial-gradient(circle at top center, #1e232f, #0d121f 70%);
    padding-top: 3em;
    overflow: hidden;
    position: relative;
}


#main-title{
    text-align: center;
    font-size: 4em;
    z-index: 1;
    position: relative;
}

#hero-gradient-title{
    background: linear-gradient(to top, #a8bfdd, white);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#hero-title-second{
    color: #a8bfdd;
}

#hero-description{
    color: #68778e;
    margin: auto;
    text-align: center;
    z-index: 1;
    position: relative;
}

.hero-button-group{
    margin: 2em 0 0 0;
    z-index: 1;
    position: relative;
}

.hero-circle-one{
    /* background-color: #191e2a; */
    left: -35rem;
    bottom: -33rem;
}

.hero-circle-two{
    /* background-color: #191e2a; */

    left: 70%;
    bottom: 10rem;
    z-index: 1;  
}


/* set hero section animation */

.hero-elem{
    opacity: 0;
    transform: translateY(-0.7rem);
    animation: heroFadeIn 1s forwards;
}

.hero-elem:nth-child(1){
    animation-delay: 0s;
}

.hero-elem:nth-child(2){
    animation-delay: 0.3s;
}

.hero-elem:nth-child(3){
    animation-delay: 0.5s;
}




/* about section  */

#about-section{
    background-image: url(assets/assets/images/laundromat-with-girl-legs.png);
    background-color: white;
    width: 100%;
}

.about-title{
    text-align: center;
    padding: 2em;
    display: block;

}

#about-section h1{
    color: black;
    margin: 0;
}


/* #about-section p{
    text-align: center;
    margin: auto;
} */


/* how it works section  */
.how-card{
    color: white;
    font-size: 0.8em;
    width: fit-content;
    margin: auto;

}
.how-card figure{
    width: 15em;
    position: relative;
}

.how-card span{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0.2em;

    background-color: var(--button-color);
    border-radius: 100%;
    width: 2.3em;
    height: 2.3em;
    text-align: center;

    border: var(--background-color) solid 0.3em;

    float: left;

    font-size: 1.5em;
}

/* .how-card figure div{
    position: absolute;

} */
.how-card-animation{
    background-color: white;
    border-radius: 10%;
    height: 13em;
    width: 13em;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.how-card-div{
    position: relative;
    height: 15em;
    width: 15em;
}


#how-card-section{
    display: flex;

    margin: auto;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

@media (min-width:1000px) {
    #how-card-section{
        flex-direction: row;
    }
    .how-card{
        width: auto;
        margin: 0;
    }
}


/* Why to choose us section */

#why-to-choose-section{
    background-color: white;
    width: 100%;
    color: black;
    margin: auto;
}

#why-to-choose-section h1{
    color: black;
}

#why-to-choose-section small{
    display: block;
    max-width: 38rem;
    margin: auto;
}

.why-card-section{
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 2rem 0;
    /* margin: auto; */
    width: fit-content;
}

.why-card{
    display: flex;
    align-items: center;
}

.why-card div{
    text-align: left;
    gap: 0.6rem;
    display: flex;
    flex-direction: column;
}

.why-card p{
    /* max-width: 22rem; */
    max-width: 15rem;
    text-align: left;
    color: #69758c;
    font-size: 0.8em;
}
.why-card h3{
    /* font-size: 1.5em; */
    font-size: 1em;
    margin: 0;
}

.why-card figure{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-color);
    /* height: 3em;
    width: 3em; */
    height: 2.5em;
    width: 2.5em;
    border-radius: 20%;
    transition: 0.5s ease;
    margin: 1em;
}

.why-card figure img{
    transition: 0.5s ease;
    height: auto;
}

.why-card:hover figure{
    transform: scale(1.4);
}

.why-card:hover img{
    transform: scale(1.4);
}

@media (min-width:1000px) {
    .why-card-section{
        grid-template-columns: repeat(2, 1fr);
        margin: auto;
    }
    .why-card p{
        max-width: 22rem;
        font-size: 1em;
    }
    .why-card h3{
        font-size: 1.5em;
    }
    .why-card figure{
        height: 3em;
        width: 3em;
        margin: 2em;
    }
}


/* download app */

#download-app{
    padding-bottom: 0;
    padding-top: 3rem;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.download-main{
    flex: 1;
    max-width: 100%;
    text-align: left;
    margin-left: 13%;
    margin-bottom: 2rem;
    display: grid;
    gap: 1em;

}   

.download-main h1{
    margin: 0;
    max-width: 10em;
}

.download-btn-group{
    margin-top: 3em;
    margin-left: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    width: fit-content;
}

.download-btn{
    background-color: unset;
    padding: 0;
    transition: 0.3s;
}

.download-btn:hover{
    transform: scale(1.1);
}

.download-img{
    padding: 0;
    margin: 0;
    max-height: 30em;
    max-width: 55%;
}

.download-img img{
    bottom: -1rem;
    z-index: -1;
    left: 15%;
    position: relative;
    margin: 0;
    border: #3d414c solid 0.5em;
    border-radius: 10%;
    max-width: 55rem;
}



/* location section */

#location{
    background: linear-gradient(to top, #edf6ff, white);
    color: black;
    padding: 3rem 0;
}

#location h1{
    color: black;
}


.location-card-group{
    display: flex;    
    justify-content: center;
    gap: 3rem;
    margin: auto;
    margin: 3rem 0;
}

.location-card{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    width: 20rem;
    padding: 2em;
    border: #d4e1f0 solid 0.1em;
    border-radius: 1em;
    text-align: left;
    transition: 0.5s;
}

.location-card h3{
    margin: 0;
}
.location-card hr{
    width: 100%;
    background-color: #e8edf2;
    height: 0.15em;
    border: unset;
}

#location p{
    text-align: left;
}


.location-card:hover{
    border: #3d81db solid 0.1em;
    transform: translateY(-0.4em);
  
}


/* footer */

footer{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 4rem 9rem;
    gap: 3rem;
    position: relative;
    overflow: hidden;
    z-index: 1;
}
footer p{
    margin: 0;
    color: #75849d;
}

.footer-information{
    display: flex;
    gap: 2rem;
    position: relative;
    z-index: 1;
}

.footer-information a{
    color: #579cea;
    text-decoration: none;
}

.footer-vertical-line{
    width: 0.1em;
    background-color: #25344b;
}

.footer-circle{
    left: 50%;
    transform: translate(-50%);
    bottom: -43rem;
}