body{
    background-color: #0d121f;
}

h1{
    color: white;
    font-weight: unset;
}

header{
    display: flex;
    margin: 1em;
}
nav{
    display: flex;
    gap: 2em;
    font-size: 0.5em;
}

.main-navbar{

    margin: auto;
}
header h1:hover{
    text-decoration: underline;
}

.header-nav-button-group h1{
    margin: auto;
    text-align: center;
}

button{
    background-color: #3d81db;
    border-radius: 3em;
    padding: 0.2em;
    padding: 1em 1.5em;
    margin: auto;
    color: white;
    border: none;
    
}


.hero-section{
    background: radial-gradient(circle at top center, #1e232f, #0d121f 70%);
    padding-top: 3em;
}


#main-title{
    text-align: center;
    font-size: 4em;
}

#hero-description{
    color: white;
    margin: auto;
    text-align: center;
}

.hero-button-group{
    margin: 2em 0 0 0;
    display: block;
    text-align: center;
}


#about-section{
    background-image: url(assets/assets/images/laundromat-with-girl-legs.png);
    background-color: white;
    width: 100%;
    padding: 5em 0;
    margin-top: 4em;
    text-align: center;
}

.about-title{
    text-align: center;
    padding: 2em;
    display: block;
    
}

#about-section h1{
    color: black;
    font-size: 4em;
    margin: 0;
}

#about-section h2{
    margin: 0;
    color:blue;
    font-size: 1em;
    /* text-align: center; */
}

#about-section p{
    text-align: center;
    margin: auto;
    max-width: 50em;
}
